@layout('layouts.main')

@section('title')
Sustain & Attain: Make Your Mark
@endsection

@section('unique_styles')
<link href="css/main.css" rel="stylesheet">
@endsection

@section('content')
@endsection