.row {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin: 25px;
  }

.row .card {
    flex: 0 0 auto;
    padding: 15px;
    margin: 10px;
  }

.card-title {
    text-align: center;
}

.left {
    padding: 0px;
    text-align: left;
}

.right {
    padding: 0px;
    text-align: right;
}